.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dispositivo-button {
  width: 280px;
}

.title-container {
  display: flex;
  align-items: center;
}

.circle-shape {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  // background-color: blue;
}
